.pallet{
    color: #f6f1ed;
    color: #eff4f7;
    white: #ffffff;
    light: #f6f1ed;
    lightGrey: #e5dada;
    dark: #f074c0;
    darker: #ee58b4;
    darkest: #f537ac;
    closeIcon: #969ea4;
}
